# version: '3.8'

services:
  postgres:
    image: postgis/postgis:15-3.4-alpine
    container_name: roadalert_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: roadalerts
    ports:
      - "5433:5432"
    volumes:
      - roadalert_data:/var/lib/postgresql/data

volumes:
  roadalert_data:
