# version: '3.8'

services:
  postgres:
    image: postgis/postgis:15-3.4-alpine
    container_name: roadalert_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: roadalerts
      TZ: Indian/Antananarivo
    ports:
      - "5433:5432"
    volumes:
      - roadalert_data:/var/lib/postgresql/data

  osm-tile-server:
    image: overv/openstreetmap-tile-server:latest
    container_name: osm-tile-server
    ports:
      - "8080:80"
    volumes:
      - osm-data:/data/database/
      - ./backend/module-cartes/region.osm.pbf:/data/region.osm.pbf:ro
    environment:
      - THREADS=2
      - OSM2PGSQL_EXTRA_ARGS=-C 2048
    restart: unless-stopped
    command: run

volumes:
  roadalert_data:
  osm-data:
    external: true
    name: module-cartes_osm-data
